@use '../shared' as *

.l-shell
  @extend %d-flex
  @extend %m-0-auto
  @extend %min-h-screen
  max-width: 1400px
  @media (max-width: $max-width-content)
    flex-direction: column
    min-height: auto
