@use '../shared' as *

/// the foundational application shell containing the sidebar and main content.
.l-shell
  @include d-flex()
  margin: 0 auto
  min-height: 100vh
  max-width: 1400px
  @media (max-width: $max-width-content)
    flex-direction: column
    min-height: auto
