@use '../shared' as *


/// ==========================================================================
/// Element SURFACES
/// ==========================================================================



/// gold space for separating sections
.gold-spacer
  height: 1px
  @extend %w-full
  background: var(--gold-accent)
  margin: 3rem 0


/// Shows Role and stack in grey box with gold boarder
.project-meta-top
  @include d-flex()
  @include flex-col
  gap: fluid(16, 24)
  padding: fluid(16, 24)
  border: 1px solid $border-dark
  background: $bg-surface
  margin: fluid(16, 24) 0
  @media (min-width: $max-width-content)
    flex-direction: row // Kept as direct properties to comply with cross-media rules
    gap: fluid(24, 48)
  .meta-item
    font-size: 14px
    color: $text-main
    strong
      color: var(--gold-accent) 
      margin-right: 0.5rem
      text-transform: uppercase


/// Under the open source title, we need to display websites, tags and the like
.project-actions
  border-top: 1px solid rgba(255, 255, 255, 0.05)
  padding-top: 20px


/// for project actions, this formats the links
.action-link
  @extend %action-link-base
  &:hover
    transform: translateY(-2px)
    filter: brightness(1.2)
    text-decoration: underline
  .action-prefix
    opacity: 0.4
    color: $text-main
