@use '../shared' as *


/// ==========================================================================
/// Element SURFACES
/// ==========================================================================



/// gold space for separating sections
.gold-spacer
  height: 1px
  width: 100%
  background: $gold-accent
  margin: 3rem 0


/// Shows Role and stack in grey box with gold boarder
.project-meta-top
  @include flex-col
  gap: fluid(16, 24)
  padding: fluid(16, 24)
  border: 1px solid $border-dark
  background: $bg-surface
  margin: fluid(16, 24) 0
  @media (min-width: $max-width-content)
    flex-direction: row 
    gap: fluid(24, 48)
  /// format individual pieces of metadata.
  .meta-item
    font-size: $font-size-meta
    color: $text-main
    strong
      color: $gold-accent 
      margin-right: 0.5rem
      text-transform: uppercase


/// Under the open source title, we need to display websites, tags and the like
.project-actions
  border-top: 1px solid rgba(255, 255, 255, 0.05)
  padding-top: 20px


/// for project actions, this formats the links
.action-link
  color: $gold-accent
  text-decoration: none
  font-family: $font-default
  font-size: 0.9rem
  letter-spacing: 1px
  transition: transform 0.2s ease, filter 0.2s ease
  display: flex
  align-items: center
  gap: 8px
  &:hover
    transform: translateY(-2px)
    filter: brightness(1.2)
    text-decoration: underline
  /// be an icon or text prefix for action links.
  .action-prefix
    opacity: 0.4
    color: $text-main
