body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #000;
  scroll-behavior: smooth;
}

.invert {
  filter: invert(100%);
}

.user_img {
  height: 90px;
  width: 90px;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-end, .bgimg-4 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background: url("../img/jumbotron.webp") no-repeat center center;
}

.bgimg-1 {
  background-image: url("../img/jumbotron.webp");
  min-height: 350px;
  background-position: 0% 0%;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  background-size: cover;
}

.bgimg-2 {
  background-image: url("../img/cards/pc1.jpg");
  min-height: 500px;
  background-position: 90% 53%;
}

.bgimg-3 {
  background-image: url("../img/jumbotron.webp");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("../img/jumbotron.webp");
  min-height: 450px;
}

.bgimg-end {
  background-image: url("../img/jumbotron.webp");
  min-height: 100%;
}

.bgimg-2.lazy, .bgimg-3.lazy, .bgimg-4.lazy, .bgimg-end.lazy {
  background-image: none;
  background-color: #000000;
}

.bgimg-2.lazy {
  height: 500px;
}

.bgimg-3.lazy {
  height: 400px;
}

.bgimg-4.lazy {
  height: 450px;
}

.bgimg-end.lazy {
  height: 100%;
}

.caption2, .caption {
  position: absolute;
  left: 0;
  width: 100%;
  color: #000;
}
.caption2 span.border, .caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.caption {
  top: 50%;
  text-align: center;
}

.clearBoarder {
  color: #fff;
  padding: 18px;
  letter-spacing: 5px;
}
.caption2 {
  top: 80%;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
  }
}
.anchor {
  padding-top: 120px;
}

.bg-purple {
  background-color: purple;
}

.NoDot {
  list-style: none;
}

.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0px solid #f5f6fa;
  text-align: center;
  padding: 10px 10px;
}

.progress-bar {
  transition: none;
}

.aboutFormat {
  color: #000;
  background-color: #fff;

  padding: 50px 80px;
  text-align: justify;
}

.lightFormat {
  color: #000;
  background-color: #eeeeee;
  padding: 50px 50px;
  text-align: justify;
  position: relative;
}

.proBorder {
  background-color: transparent;
  font-size: 25px;
  color: #f7f7f7;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.ImgRoundCorner {
  border-radius: 25px;
  width: 178px;
  height: 178px;
}

.hobbies {
  font-size: 25px;
  color: #f7f7f7;
}
.btn-outline-danger {
  color: white;
  border-color: white;
  border-radius: 0px;
  font-weight: 100;
  margin-top: 20px;
}

.lead {
  font-family: raleway, sans-serif;
  font-weight: 100;
  margin-top: -10px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.featurette-image {
  opacity: 20%;
}

.content {
  display: none;
}/*# sourceMappingURL=about.css.map */