body, html {
  height: 100%;
  margin: 0;
}

.jumbotron {
  border-radius: 10px;
  background: url("../img/jumbotron.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white !important;
  height: 340px;
  background-size: cover;
}

.invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.page-scroll {
  height: 5000px;
}

.btn-outline-danger {
  color: white;
  border-color: white;
  border-radius: 0px;
  font-weight: 100;
  margin-top: 20px;
}

.lead {
  font-family: raleway;
  font-weight: 100;
  margin-top: -10px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.user_img {
  height: 90px;
  width: 90px;
}

/* Sub Menus
 * .dropdown-submenu
 * position: relative
 *
 * .dropdown-submenu a::after
 *  transform: rotate(-90deg)
 * position: absolute
 * right: 6px
 * top: .8em
 *
 * .dropdown-submenu .dropdown-menu
 *   top: 0
 *   left: 100%
 *   margin-left: .1rem
 *   margin-right: .1rem
 *
 * .fade-in
 *   opacity: 0.5
 *   transition: opacity 25ms ease-in
 *
 * .dShaddow
 *   filter: drop-shadow(10px 10px 4px #727272)
 *
 * .navbar.transparent
 *   background: rgba(0,0,0,0.4)
 *
 *.navbar.transition
 *   transition:  background 250ms ease-in-out
 */
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #000;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-end {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("../img/me_outfield_MillerPark-lb.jpg");
  min-height: 60%;
  background-position: 50% 43%;
}

.bgimg-2 {
  background-image: url("../img/ext-lb.jpeg");
  min-height: 800px;
  background-position: 90% 53%;
}

.bgimg-3 {
  background-image: url("../img/vol-lb.jpg");
  min-height: 400px;
}

.bgimg-end {
  background-image: url("../img/me_outfield_MillerPark-lb.jpg");
  min-height: 100%;
}

.caption, .caption2 {
  position: absolute;
  left: 0;
  width: 100%;
  color: #000;
}

.caption span.border, .caption2 span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.caption {
  top: 50%;
  text-align: center;
}

.clearBoarder {
  background-color: transparent !important;
  font-size: 25px;
  color: #fff !important;
}

.caption2 {
  top: 80%;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
  }
}

.bg-purple {
  background-color: purple !important;
}

.NoDot {
  list-style: none;
}

.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0px solid #f5f6fa;
  text-align: center;
  padding: 10px 10px;
}

.progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
}

.aboutFormat {
  color: #000;
  background-color: #fff;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.proBorder {
  background-color: transparent !important;
  font-size: 25px;
  color: #f7f7f7;
}
/*# sourceMappingURL=about.css.map */